name: Update Live Matches

on:
  schedule:
    - cron: '*/5 * * * *'  # Запуск каждые 5 минут
  workflow_dispatch:  # Позволяет запускать вручную

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'  # Или укажите нужную версию

      - name: Display Python version
        run: python --version

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 pandas openpyxl

      - name: Run the script
        run: python .github/workflows/live_odds.py  # Замените на имя вашего скрипта
      - name: Commit changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "your_email@example.com"
          git config --local user.name "your_name"
          git add live.xlsx
          git commit -m "Обновлен live.xlsx" || echo "Нет изменений для коммита"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/ViachP/DE.git
          
          
