name: Update Live Matches

on:
  schedule:
    - cron: '*/* * * * *'  # Каждые 15 минут
  workflow_dispatch:  # Позволяет запускать вручную

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'  # Или укажите нужную версию

      - name: Display Python version
        run: python --version

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 pandas openpyxl

      - name: Run the script
        run: python live_odds.py  # Замените на имя вашего скрипта
       
